body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0
}

body {
    font: 12px "宋体", "Arial Narrow", HELVETICA;
}

a {
    color: #172c45;
    text-decoration: none
}

a:hover {
    color: #cd0200
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}
body {
    background-color: black;
}

/*上面是初始化代码----------------------------------------------------------*/



/*topbar开始----------------------------------------------------------------*/
.topbar-bg {
    height: 55px;
    background-color: #fbfbfb;
}
.topbar {
    height: 55px;
    width: 1423px;
    margin: 0 auto;
    position: relative;
}
.topbar-bg .log {
    height: 55px;
    width: 133px;
    text-indent: -9999px;
    float: left;
    margin-left: 213px;
}
.topbar-bg .log a {
    float: left;
    display: block;
    height: 55px;
    width: 133px;
    background-repeat: no-repeat;
    background-position-y: 6px;
    background-image: url("./img/logo_b5525b7.png");
}
.topbar-bg .userCenter {

    height: 55px;
    float: left;
    margin-left:502px;
    text-align: center;
}
.topbar-bg .userCenter a {
    display: block;
    float: left;
    height: 52px;
    width: 77px;
    line-height: 52px;
    margin-right: 4px;
}
.topbar-bg .userCenter a:hover,
.topbar-bg .adLink a:hover {
    border-bottom: 3px solid #bc2e2e;
    color: #bc2e2e;
    background-color: #f7f7f7;
}

.topbar-bg .catalog {
    width: 123px;
    height: 52px;
    float: left ;
    text-align: center;
}
.topbar-bg .catalog .btn {
    display: block;
    height: 55px;
    width: 123px;
    line-height: 52px;
    position: relative;
}
.topbar-bg .catalog .btn:hover {
    border-bottom: 3px solid #bc2e2e;
    color: #bc2e2e;
    background-color: #f7f7f7;
    height: 52px;
}

.topbar-bg .catalog .btn span {
    position: absolute;
    display: block;
    height: 7px;
    width: 11px;
    background-image: url("./img/sprite-w_7fc7459.png");
    background-position: -103px -100px;
    top: 23px;
    right: 3px;
}
.topbar-bg .adLink {
    height: 55px;
    width: 100px;
    float: left;
    text-align: center;
    line-height: 52px;
    position: relative;
    overflow: hidden;
}
.topbar-bg .adLink a {
    display: block;
    width: 100px;
    height: 52px;
    float: right;
    position: absolute;
    top: 0;
}

.topbar-bg .adLink a:nth-child(2) {
    top: 55px;
}
#gameList {
    width: 1020px;
    height: 488px;
    background-color: rgba(255,255,255,.90);
    position: relative;
    z-index: 1000;
    display: none;
    left: -800px;
    top: 0px;
}
#gameList .PCD,
#gameList .YDD,
#gameList .gameFZ{
    float: left;
    border-right: 1px solid #cfcfcf;
}
#gameList .PCD {
    width: 335px;
    height: 100%;
    /*background-color: red;*/
    position: relative;
}

#gameList .YDD {
    width: 539px;
    height: 100%;
    /*background-color: yellow;*/
    position: relative;
}
#gameList .gameFZ {
    width: 144px;
    height: 100%;
    /*background-color: brown;*/
    border-right: 0 solid #cfcfcf;
    position: relative;
}
.gameList .top {
    height: 30px;
    width: 100%;
    background-color: rgba(255,255,255,.6);
    text-align: left;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #bc2e2e;
    font-family: "Microsoft YaHei";
}
.gameList .top span {
    margin: 8px 0 0 15px;
}
.gameList .PCD .bottom ul,
.gameList .YDD .left ul,
.gameList .YDD .right ul,
.gameList .gameFZ .bottom ul {
    margin-top: 15px;
    float: left;
    display: block;
}
.gameList .PCD .bottom ul li:first-child,
.gameList .YDD .left ul li:first-child,
.gameList .YDD .right ul li:first-child{
    font-size: 13px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    margin-bottom: 10px;
    text-align: left;
}
.gameList .YDD .left {
    float: left;
    height: 100%;
    width: 144px;
    border-right: 1px solid #cfcfcf;
}
.gameList .PCD .bottom ul li,
.gameList .YDD .left ul li,
.gameList .YDD .right ul li,
.gameList .gameFZ .bottom ul li {
    line-height: 24px;
    font-family: "Microsoft YaHei";
}
.gameList .PCD .bottom ul:first-child {
    margin: 15px 100px 0 20px;
}
.gameList .YDD .left ul  {
    margin-left: 20px;
}
.gameList .YDD .right ul {
    margin-left: 20px;
}
.gameList .YDD .right ul a {
    margin-right: 60px;
}
.gameList .gameFZ ul {
    margin-left: 20px;
}
.gameList a {
    float: left;
}
#jsby span ,
#jjxx span,
#hotTj span,
#yxfz span{
    /*position: relative;*/
    float: left;
    display: block;
    width: 19px;
    height: 11px;
    background-image: url(./img/sprite-w_7fc7459.png);
    background-position: -97px -214px;
    margin-left: 40px;
    margin-right: -40px;
    margin-top: 8px;
}
#jsby span ,
#jjxx span{
    margin-left: 20px;
}
#yxfz span {
    margin-left: 25px;
}
#jsby li:nth-child(2) span
{
    background-position: -97px -276px;
}
#jsby li:nth-child(3) span,
#jsby li:nth-child(4) span,
#hotTj span,
#yxfz li:nth-child(2) span,
#yxfz li:nth-child(3) span,
#yxfz li:nth-child(4) span {
    background-position: -97px -152px;
}
#newsTj span {
    float: left;
    display: block;
    width: 19px;
    height: 11px;
    background-image: url(./img/sprite-w_7fc7459.png);
    background-position: -97px -214px;
    margin-left: -20px;
    margin-top: 8px;
}
#newsTj li a:nth-child(5) {
    margin-right: 0px;
}
#gengduoDy,
#gengduoSy{
    position: absolute;
    width: 14px;
    height: 90px;
    background-color:#bc2e2e ;
    right: 0;
    top: 140px;
    padding-right: 8px;
    padding-left:  8px;
    padding-top: 10px;
    color: #fff;
}
#wangyiyouxi {
    position: absolute;
    width: 65px;
    height: 25px;
    background-image: url(./img/sprite-w_7fc7459.png);
    background-position: 0 -338px;
    bottom: 0;
    left: 20px;
    color:#bc2e2e;
    padding-left: 15px;
}
    /*topbar结束----------------------------------------------------------------*/

